@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

.App{
  min-height: 100vh;
  background-image: linear-gradient(to bottom, #12ca6e 0%, #61ff6e 100%);
}

.search-form{
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar{
  width: 50%;
  border: none;
  padding: 10px;
}

.recipes{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
